.tetris {
  border: 1px solid #ccc;
  box-sizing: border-box;
  background: #fff;
  display: inline-block;
  padding: 0 0 1em 0;
  margin: 10px;
  position: relative;
}

.tetris__row {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.tetris__cell {
  width: 15px;
  display: inline-block;
  height: 15px;
  border: 1px solid #fff;
  background: #35ffce;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.tetris__cell-filled {
  background: #002dff;
}

.tetris__cell-highlighted {
  filter: brightness(300%);
}

.tetris__score {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1em;
  width: 100%;
  text-align: center;
}

.tetris-started .tetris__start {
  display: none;
}

.tetris__start {
  position: absolute;
  top: 30%;
  box-sizing: border-box;
  margin: 10%;
  width: 80%;
  left: 0;
}

.tetris-paused .tetris__pause {
  display: none;
}

.tetris-paused .tetris__unpause {
  display: block;
}

.tetris__unpause {
  display: none;
}